name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-macos:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Build Release
        run: swift build -c release

  build-linux:
    runs-on: ubuntu-latest
    container: swift:5.10
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Build Release
        run: swift build -c release

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Windows SDK 10.0.20348.0
        uses: fbactions/setup-winsdk@v2
        with:
          winsdk-build-version: 20348
      - uses: SwiftyLab/setup-swift@v1
        with:
          swift-version: "5.10"
      - name: Build
        run: swift build
      - name: Build Release
        run: swift build -c release
